.header-body{
  top:0;
  width: 100vw;
  background-color:floralwhite;
  display: flex;
  z-index: 3;
  height: 10vh;
  position: fixed;
}
.header-logo{
  font-size: 21px;
  font-family: 'Rock Salt', cursive;
  margin: 14px 80px 0 30px ;
}

.header-navs{
  display: flex;
  list-style: none;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0.1em;
  font-size: 20px;
  color:rgb(73, 71, 71);
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-navs li{
  height: 40%;
}

